<div style="margin: 0px 32px;">
    <h1 style="text-align: center;"><strong>PRIVACY POLICY</strong></h1>
    <p>&nbsp;</p>
    <h3>INTRODUCTION</h3>
    <p>When you use SWEED, you trust us with your personal data. We&rsquo;re committed to keeping that trust. That
        starts with helping you understand our privacy practices. We respect your practices &amp;amp; we stay committed.
    </p>
    <p>This notice describes the personal data we collect, how it&rsquo;s used and shared, and your choices regarding
        this data. We recommend that you read this along with our privacy overview, which highlights key points about
        our privacy practices. This notice applies to all users of our apps, websites, features, or other services
        anywhere covered by a separate privacy notice.</p>
    <p>&nbsp;</p>
    <h3>DATA COLLECTION &amp; USES</h3>
    <p>We collect data when users create or update their Sweed accounts. This may include their name, email, phone
        number, login name and password, address, profile picture, payment or banking information (including related
        payment verification information), driver&rsquo;s license, and other government identification documents (which
        may indicate document numbers as well as birth date, gender, and photo). This also includes vehicle or insurance
        information of drivers and delivery persons, emergency contact information, user settings, and many more.</p>
    <p>We may use the photos submitted by users to verify their identities. We may also verify the identities of riders,
        or of delivery recipients who request alcohol delivery, including by collecting photographs of their
        government-issued identification. We may check for such unsafe activities so that no one is harmed or able to
        practice lawful action.</p>
    <p>We collect transaction information related to the use of our services, including the type of services requested
        or provided, order details, payment transaction information, delivery information, date and time the service was
        provided, amount charged, distance traveled, and payment method. Additionally, if someone uses your promotion
        code, we may associate your name with that person. We may also provide you with guidance through our website.
    </p>
    <ul>
        <li>
            <h4>HOW WE USE PERSONAL DATA</h4>
            Sweed uses personal data to enable reliable and convenient transportation, delivery, and services. We also
            use such&nbsp;data:
            <ul>
                <li>To enhance the safety and security of our users and&nbsp;services.</li>
                <li>For customer support.</li>
                <li>For research and development.</li>
                <li>For better service &amp; management.</li>
            </ul>
        </li>
    </ul>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;Sweed does not sell or share user personal data with third parties for their direct
        marketing, except with users&rsquo; consent &amp; agreement.</p>
    <h3>CHOICE &amp; TRANSPARENCY</h3>
    <p>Sweed enables users to access or control data that Sweed collects while creating an account. Sweed also enables
        users to request access to or copies of their data, changes or updates to their accounts, or deletion of their
        accounts.</p>
    <ul>
        <li>
            <h4>Device&nbsp;Permissions</h4>
        </li>
    </ul>
    <p>Most mobile device platforms (iOS, Android, etc.) have defined certain types of device data that apps cannot
        access without the device owner&rsquo;s permission, and these platforms have different methods for how that
        permission can be obtained. Please check the available settings on your device or check with your&nbsp;provider.
    </p>
    <ul>
        <li>
            <h4>In-app Rating&nbsp;Pages</h4>
        </li>
    </ul>
    <p>After every order, you can rate it on a scale of 1 to 5. An average of those ratings is associated with a
        user&rsquo;s account and is displayed to other users for whom they provide or receive services.</p>
    <ul>
        <li>
            <h4>Marketing&nbsp;Choices</h4>
        </li>
    </ul>
    <p>Users may also opt out of receiving emails and other messages from Sweed by following the unsubscribe
        instructions in those messages. We may still send users who have opted out non-<br />promotional communications,
        such as receipts for rides or information about their&nbsp;account.</p>
    <p>&nbsp;</p>
    <h3>UPDATE</h3>
    <p>We may occasionally update this notice. If we make significant changes, we will notify users in advance of the
        changes through the Sweed apps or through other means, such as email. We encourage users to periodically review
        this notice for the latest information on our privacy practices. These changes are effective immediately after
        they are posted on this page.</p>
    <p>Use of our services after an update constitutes consent to the updated notice to the extent permitted by law. If
        you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
</div>