<div style="margin: 0px 32px;">
<h1 class="t m0 x1 h2 y2 ff1 fs0 fc0 sc0 ls1 ws4" style="text-align: center;"><strong>Terms &amp; Condition</strong>
</h1>
<div class="t m0 x3 h3 y4 ff2 fs1 fc1 sc0 ls1 ws4">By using the Sweed Service, you agree to be bound by these User Terms
    of Service (&ldquo;<span class="ff3">Terms of Service</span><span class="ws0">&rdquo;).</span></div>
<div class="t m0 x3 h3 y4 ff2 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
<div class="t m0 x3 h3 y4 ff2 fs1 fc1 sc0 ls1 ws4">
    <div class="t m0 x3 h4 y5 ff4 fs1 fc1 sc0 ls1 ws4">Please read the following Terms of Service carefully before using
        the Sweed Service. If you do not agree to these Terms of Use, you may not use the services on the Platform.
        These Terms of Service apply to any use of the Sweed Service and to the Purchase Agreements made hereunder. A
        more detailed description of the Sweed Service and information on system requirements is available at <span
            class="ls2 ws1">ww</span>w.Sweedapp.com. The Terms of Service are concluded between us and the User only.
    </div>
    <div class="t m0 x3 h4 y5 ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
    <h3 class="t m0 x3 h4 y5 ff4 fs1 fc1 sc0 ls1 ws4"><strong>Amendments</strong></h3>
    <div class="t m0 x3 h4 yb ff4 fs1 fc1 sc0 ls1 ws4">These Terms of Use are subject to modifications. We reserve the
        right to modify or change these Terms of Use and other Sweed policies at any time by posting modified documents
        on the Platform and notifying you of the same for your perusal. You shall be liable to update yourself of such
        changes, if any, by accessing the same. You shall, at all times, be responsible for regularly reviewing the
        Terms of Use and the other Sweed policies and note the changes made on the Platform. Your continued usage of the
        Services after any change is posted constitutes your acceptance of the amended Terms of Use and other Sweed
        policies. As long as you comply with these Terms of Use, S<span class="ls2 ws1">weed</span> grants you a
        personal, non-exclusive, non-transferable, limited privilege to access, enter, and use the Platform. By
        accepting these Terms of Use, you also accept and agree to be bound by the other terms and conditions and Sweed
        policies.</div>
    <div class="t m0 x3 h4 yb ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
    <div class="t m0 x3 h4 yb ff4 fs1 fc1 sc0 ls1 ws4">
        <h3 class="t m0 x3 h6 y15 ff3 fs2 fc1 sc0 ls1 ws4"><strong>Description of the Sweed Service</strong></h3>
        <div class="t m0 x3 h7 y16 ff4 fs2 fc1 sc0 ls1 ws3">Sweed<span class="fs1 ws4"> provides a platform on which the
                User can purchase food and other local &amp; organic products or services.&nbsp; </span>Sweed provides
            information about their products and possible services in the Sweed Service, including but not limited to
            information on product characteristics, allergens, and instructions of use. If you have allergies or other
            dietary restrictions or for other reasons wish to receive more detailed information, please contact the
            office. You can also contact Sweed customer support for such inquiries<span class="ls3">. </span>Sweed App
            is owned and operated by Sweed Service Private Limited. Our service is limited to providing food ordering
            and delivery service to our customers.</div>
        <div class="t m0 x3 h7 y16 ff4 fs2 fc1 sc0 ls1 ws3">&nbsp;</div>
        <div class="t m0 x3 h7 y16 ff4 fs2 fc1 sc0 ls1 ws3">
            <h3 class="t m0 x3 h6 y1d ff3 fs2 fc1 sc0 ls1 ws4"><strong>Charge &amp; Information</strong></h3>
            <div class="t m0 x3 h4 y1e ff4 fs1 fc1 sc0 ls1 ws4">Sweed provides all types of cuisine, local products,
                &amp; other domestic products that are very cheap and affordable. Sweed helps local entrepreneurs by
                encouraging them to produce quality products such as Honey, Pickles, Ghee, Dry Meat &amp; other
                products. Sweed App delivers in the best way. The information provided on the App or website is
                accurate. Moreover, though every effort is made to ensure accuracy in posting pricing information,
                discrepancies do occur. <span class="ls0">In</span> times of such an incident, please report or contact
                the office.</div>
            <div class="t m0 x3 h4 y1e ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
            <div class="t m0 x3 h4 y1e ff4 fs1 fc1 sc0 ls1 ws4">
                <h3 class="t m0 x3 h6 y24 ff3 fs2 fc1 sc0 ls1 ws4"><strong>Payment &amp; Order</strong></h3>
            </div>
        </div>
    </div>
    <div class="t m0 x3 h4 yb ff4 fs1 fc1 sc0 ls1 ws4">
        <div class="t m0 x3 h4 y25 ff4 fs1 fc1 sc0 ls1 ws4">Users can order anything that is available on the
            application. All ordering is performed online or by calling. Users can directly select items on the app and
            order. After ordering, Sweed will provide you physical bill as well as a virtual bill. Sweed provides you
            with both online and cash options to pay. You can choose to pay cash on delivery online.</div>
        <div class="t m0 x3 h4 y25 ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
        <div class="t m0 x3 h4 y25 ff4 fs1 fc1 sc0 ls1 ws4">
            <h3 class="t m0 x3 h6 y2a ff3 fs2 fc1 sc0 ls1 ws4"><strong>Refund Policy</strong></h3>
            <div class="t m0 x3 h4 y2b ff4 fs1 fc1 sc0 ls1 ws4">Sweed is highly dedicated to customer satisfaction. In
                case there is any problem related to cash or online payment error. We have 24/7 customer service that
                helps you to solve your problem immediately. Users can get an online error due to many technical
                difficulties which may cause problems to unwanted orders or finance. In such an incident, we would
                refund you cash and solve the problem related to your order.</div>
            <div class="t m0 x3 h4 y2b ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
            <div class="t m0 x3 h4 y2b ff4 fs1 fc1 sc0 ls1 ws4">
                <h3 class="t m0 x3 h6 y30 ff3 fs2 fc1 sc0 ls1 ws4"><strong>Copyright &amp; Property Rights</strong></h3>
                <div class="t m0 x3 h4 y31 ff4 fs1 fc1 sc0 ls1 ws4">The Services contain material, such <span
                        class="ls4 ws5">as</span> software, text, graphics, images, sound recordings, audiovisual works,
                    and other material provided <span class="ls5 ws6">by</span> <span class="ls0 ws7">or</span> <span
                        class="ls0">on<span class="ls1"> behalf </span><span class="ws7">of</span><span class="ls1">
                            Sweed Services. The Content may <span class="ls5 ws6">be</span> owned <span
                                class="ls5 ws6">by</span> u<span class="ls6 ws8">s.</span> The </span></span>Content
                    <span class="ls8 ws9">is</span> protected under Government <span class="ls0 ws7">of</span> Nepal
                    laws.<span class="ls7"> <span class="ls1">Unauthorized use <span class="ls0 ws7">of</span> the
                            Content may violate </span></span>copyright, trademark, and other laws. You have <span
                        class="ls0">no</span> rights <span class="ls8 ws9">in</span> <span class="ls0 ws7">or</span>
                    <span class="ls4 ws5">to</span> the Content, and you will <span class="ls0 ws7">not</span> use the
                    Content except <span class="ls4 ws5">as</span> permitted under this Agreement.<span class="ls6">
                        <span class="ls5 ws6">No</span></span> other use <span class="ls9 wsa">is</span> permitted
                    without prior written consent from us. You must retain all copyright and other proprietary notices
                    contained <span class="ls8 ws9">in</span> the original Content <span class="lsa wsb">on</span> any
                    copy you make <span class="ls0 ws7">of</span> the Content. You may <span class="ls0 ws7">not</span>
                    sell, transfer, assign, license, sublicense, <span class="ls0 ws7">or</span> modify the Content
                    <span class="ls0 ws7">or </span>reproduce, display, pub<span class="ls8 ws9">licly</span> perform,
                    make a derivative version of, distribute, <span class="ls0 ws7">or</span> otherwise use the Content
                    <span class="ls8 ws9">in </span>any way for any public <span class="ls0 ws7">or</span> commercial
                    purpose. The use <span class="ls0 ws7">or</span> posting <span class="ls0 ws7">of</span> the Content
                    <span class="ls0">on</span> any other website <span class="ls0 ws7">or</span> <span
                        class="ls8 ws9">in</span> a networked computer environment for any purpose <span
                        class="ls8 ws9">is</span> express<span class="ls8 ws9">ly</span> prohibited.</div>
                <div class="t m0 x3 h4 y31 ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
                <div class="t m0 x3 h4 y31 ff4 fs1 fc1 sc0 ls1 ws4">
                    <div class="t m0 x3 h4 y3b ff4 fs1 fc1 sc0 ls0 ws7">If<span class="ls1 ws4"> you violate any part
                        </span>of<span class="ls1 ws4"> this Agreement, your permission <span class="ls4 ws5">to</span>
                            access and/or use the Content and the Services </span>automatically terminates and you must
                        immediately destroy any copies you have made <span class="ls0 ws7">of</span> the Content.</div>
                    <div class="t m0 x3 h4 y3b ff4 fs1 fc1 sc0 ls0 ws7">&nbsp;</div>
                    <div class="t m0 x3 h4 y3b ff4 fs1 fc1 sc0 ls0 ws7">
                        <div class="t m0 x3 h4 y3d ff4 fs1 fc1 sc0 ls1 ws4">Elements <span class="ls0 ws7">of</span> the
                            Services are protected <span class="lsb wsc">by<span class="ls1 ws4"> trade dress,
                                    trademark, unfair competition, and Government laws </span></span>and may <span
                                class="ls0 ws7">not</span> <span class="ls5 ws6">be</span> copied <span
                                class="ls0 ws7">or</span> imitated <span class="ls8 ws9">in</span> whole <span
                                class="ls0 ws7">or</span> <span class="ls8 ws9">in</span> part, <span
                                class="ls5 ws6">by</span> any means, including but <span class="ls0 ws7">not</span>
                            limited <span class="ls4 ws5">to</span> the use <span class="ls0 ws7">of </span>framing
                            <span class="ls0 ws7">or</span> mirrors. None <span class="ls0 ws7">of</span> the Content
                            may <span class="ls5 ws6">be</span> retransmitted without <span class="ls0 ws7">our</span>
                            express, written consent for each and every instance.</div>
                        <div class="t m0 x3 h4 y3d ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
                        <div class="t m0 x3 h4 y3d ff4 fs1 fc1 sc0 ls1 ws4">
                            <h3 class="t m0 x3 h6 y45 ff3 fs2 fc1 sc0 ls1 ws4"><strong>Termination <span
                                        class="lsc wsd">of</span> the Agreement</strong></h3>
                            <div class="t m0 x3 h4 y46 ff4 fs1 fc1 sc0 ls1 ws4">We reserve the right, in our sole
                                discretion, to restrict, suspend, or terminate this Agreement and your and any
                                device&rsquo;s access to all or any part of the Services, at <span class="ff4">any time
                                    and for any reason without prior notice or </span>liability.<span class="ls7 ws4">
                                    <span class="ls1">We reserve the right to change, suspend, or discontinue all or any
                                        part of the Services at any time </span></span>without prior notice or
                                liability.</div>
                            <div class="t m0 x3 h4 y46 ff4 fs1 fc1 sc0 ls1 ws4">&nbsp;</div>
                            <h3 class="t m0 x3 h4 y46 ff4 fs1 fc1 sc0 ls1 ws4"><strong>Miscellaneous</strong></h3>
                            <div class="t m0 x3 h4 y4c ff4 fs1 fc1 sc0 ls1 ws4">You expressly acknowledge and agree that
                                this Agreement. This Agreement shall <span class="ls5 ws6">be</span> governed <span
                                    class="ls5 ws6">by</span> and construed <span class="ls8 ws9">in</span> accordance
                                with the Government <span class="ls0 ws7">of</span> Nepal, without giving effect <span
                                    class="ls4 ws5">to</span> its principles <span class="ls0 ws7">of</span> conflicts
                                <span class="ls0 ws7">of </span>laws.<span class="ls6 ws4"> <span class="ls1">Our
                                        failure <span class="ls4 ws5">to</span> act <span class="ls0">on</span> <span
                                            class="ls0 ws7">or</span> enforce any provision <span
                                            class="ls0 ws7">of</span> the Agreement shall <span
                                            class="ls0 ws7">not</span> <span class="ls5 ws6">be<span class="ls1 ws4">
                                                construed <span class="ls4 ws5">as</span> a waiver <span
                                                    class="ls0 ws7">of</span> </span></span></span></span>that provision
                                <span class="ls0 ws7">or</span> any other provision <span class="ls8 ws9">in</span> this
                                Agreement.<span class="ls6"> <span class="ls5 ws6">No</span></span> waiver shall <span
                                    class="ls5 ws6">be</span> effective against <span class="ls0 ws7">us</span> unless
                                made <span class="ls8 ws9">in </span>writing, and <span class="ls0">no</span> such
                                waiver shall <span class="ls5 ws6">be</span> construed <span class="ls4 ws5">as</span> a
                                waiver <span class="ls8 ws9">in</span> any other <span class="ls0 ws7">or</span>
                                subsequent instance. Except <span class="ls4 ws5">as </span>expressly agreed <span
                                    class="lsb wsc">by<span class="ls1 ws4"> <span class="ls0 ws7">us</span> and you
                                        <span class="ls8 ws9">in</span> writing, this Agreement constitutes the entire
                                        agreement between you and </span></span>us<span class="ls1 ws4"> with respect
                                    <span class="ls4 ws5">to</span> the subject matter and supersedes all previous <span
                                        class="ls0 ws7">or</span> contemporaneous agreements, whether </span>written
                                <span class="ls0">or</span> oral, between the parties with respect <span
                                    class="ls4 ws5">to</span> <span class="ls4 ws5">th</span>e subject matter. The
                                section headings are provided merely for convenience and shall <span
                                    class="ls0 ws7">not</span> <span class="ls5 ws6">be<span class="ls1 ws4"> given any
                                        legal import. This Agreement will inure <span class="ls4 ws5">to</span> the
                                        benefit <span class="ls0 ws7">of</span> </span></span>our<span class="ls1 ws4">
                                    successors, assigns, licensees, and sublicensees. </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>