<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sweed - Home Page</title>

  <!--
    - custom css link 
  -->
  <link rel="stylesheet" href="{% static 'webapp/css/foodhub.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/media_query.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!--
    - main container
  -->

  <div class="container">

    <!--
      - #HEADER
    -->

    <header>

      <nav class="navbar">

        <div class="top-header">
          <div class="top-wrapper">
            <ul>
              <li>
                <a href="#"><i class="fa-solid fa-paper-plane"></i> info@sweedapp.com</a>
              </li>
              <li>
                <a href="#">carrers@sweedapp.com</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-phone"></i> +977-9851318906</a>
              </li>
              <li>
                <a href="#">+977-9851318905</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="navbar-wrapper">

          <a href="#">
            <img src="{% static 'webapp/images/sweed-logo.svg' %}" alt="logo" width="105">
          </a>

          <ul class="navbar-nav">

            <li>
              <a href="#home" class="nav-link">Home</a>
            </li>

            <li>
              <a href="#about" class="nav-link">About</a>
            </li>

            <li>
              <a href="#services" class="nav-link">Services</a>
            </li>

            <li>
              <a href="#menu" class="nav-link">Our Menu</a>
            </li>

            <li>
              <a href="#testimonials" class="nav-link">Testimonials</a>
            </li>

          </ul>

          <div class="navbar-btn-group">

            <!-- <button class="shopping-cart-btn">
              <img src="webapp/images/cart.svg" alt="shopping cart icon" width="18">
              <span class="count">5</span>
            </button> -->

            <button class="menu-toggle-btn">
              <span class="line one"></span>
              <span class="line two"></span>
              <span class="line three"></span>
            </button>

          </div>

        </div>

      </nav>

      <div class="cart-box">

        <ul class="cart-box-ul">

          <h4 class="cart-h4">Your order.</h4>

          <li>
            <a href="#" class="cart-item">
              <div class="img-box">
                <img src="{% static 'webapp/images/menu1.jpg' %}" alt="product image" class="product-img" width="50" height="50"
                  loading="lazy">
              </div>

              <h5 class="product-name">Saumon gravlax</h5>
              <p class="product-price">
                <span class="small">Rs.</span>99
              </p>
            </a>
          </li>

          <li>
            <a href="#" class="cart-item">
              <div class="img-box">
                <img src="{% static 'webapp/images/menu2.jpg' %}" alt="product image" class="product-img" width="50" height="50"
                  loading="lazy">
              </div>

              <h5 class="product-name">Chevrefried with honey</h5>
              <p class="product-price">
                <span class="small">Rs.</span>194
              </p>
            </a>
          </li>

          <li>
            <a href="#" class="cart-item">
              <div class="img-box">
                <img src="{% static 'webapp/images/menu3.jpg' %}" alt="product image" class="product-img" width="50" height="50"
                  loading="lazy">
              </div>

              <h5 class="product-name">Crispy fish</h5>
              <p class="product-price">
                <span class="small">Rs.</span>49
              </p>
            </a>
          </li>

          <li>
            <a href="#" class="cart-item">
              <div class="img-box">
                <img src="{% static 'webapp/images/menu4.jpg' %}"  alt="product image" class="product-img" width="50" height="50"
                  loading="lazy">
              </div>

              <h5 class="product-name">Stracciatella</h5>
              <p class="product-price">
                <span class="small">Rs.</span>191
              </p>
            </a>
          </li>

          <li>
            <a href="#" class="cart-item">
              <div class="img-box">
                <img src="{% static 'webapp/images/menu5.jpg' %}" alt="product image" class="product-img" width="50" height="50"
                  loading="lazy">
              </div>

              <h5 class="product-name">Sea bream carpaccio</h5>
              <p class="product-price">
                <span class="small">Rs.</span>199
              </p>
            </a>
          </li>

        </ul>

        <div class="cart-btn-group">
          <button class="btn btn-secondary">View order</button>
          <button class="btn btn-primary">Checkout</button>
        </div>

      </div>

    </header>





    <main>

      <!--
        - #HOME SECTION
      -->

      <section class="home" id="home">

        <div class="home-left">

          <p class="home-subtext">Hi, Sweed Hearts!</p>

          <h1 class="main-heading">We do not cook, we create your emotions!</h1>

          <p class="home-text">
            Sweed is an online service app that connects people. 
            We do this by empowering local businesses and in turn, generating new ways for people to earn, work and live. 
            We started this by facilitating door-to-door delivery, but we see this as just the beginning of connecting people. 
          </p>

          <p class="download-now-text">Get it on</p>

          <div class="btn-group">
            <a href="https://play.google.com/store/apps/details?id=com.kurma.sweed" target="_blank">
              <button class="btn btn-primary btn-icon">
                <img src="{% static 'webapp/images/playstore.png' %}" alt="menu icon" style="width: 21px;height:auto;">
                Playstore
              </button>
            </a>
            
            <a href="https://apps.apple.com/np/app/sweed-food-delivery/id1609915081" target="_blank">
              <button class="btn btn-secondary btn-icon">
                <img src="{% static 'webapp/images/apple-logo.png' %}" alt="menu icon" style="width: 21px;height:auto;">
                App Store
              </button>
            </a>

          </div>

        </div>

        <div class="home-right">

          <img src="{% static 'webapp/images/mobile-1.png' %}" alt="app screen image" class="food-img food-1" width="200" loading="lazy">
          <!-- <img src="{% static 'webapp/images/mobile-2.png' %}" alt="app screen image" class="food-img food-2" width="200" loading="lazy"> -->
          <!-- <img src="{% static 'webapp/images/food3.png' %}" alt="food image" class="food-img food-3" width="200" loading="lazy"> -->

          <img src="{% static 'webapp/images/dialog-1.svg' %}" alt="dialog" class="dialog dialog-1" width="230">
          <img src="{% static 'webapp/images/dialog-2.svg' %}" alt="dialog" class="dialog dialog-2" width="230">

          <img src="{% static 'webapp/images/circle.svg' %}" alt="circle shape" class="shape shape-1" width="25">
          <img src="{% static 'webapp/images/circle.svg' %}" alt="circle shape" class="shape shape-2" width="15">
          <img src="{% static 'webapp/images/circle.svg' %}" alt="circle shape" class="shape shape-3" width="30">
          <img src="{% static 'webapp/images/ring.svg' %}" alt="ring shape" class="shape shape-4" width="60">
          <img src="{% static 'webapp/images/ring.svg' %}" alt="ring shape" class="shape shape-5" width="40">

        </div>

      </section>





      <!--
        - #ABOUT SECTION
      -->

      <section class="about" id="about">

        <div class="about-left">

          <div class="img-box">
            <img src="{% static 'webapp/images/ceo.jpeg' %}" alt="about image" class="about-img" width="250">
          </div>

          <div class="abs-content-box">
            <div class="dotted-border">
              <p class="number-lg">6</p>
              <p class="text-md">Years <br> Experiense</p>
            </div>
          </div>

          <img src="{% static 'webapp/images/circle.svg' %}" alt="circle shape" class="shape shape-6" width="20">
          <img src="{% static 'webapp/images/circle.svg' %}" alt="circle shape" class="shape shape-7" width="30">
          <img src="{% static 'webapp/images/ring.svg' %}" alt="ring shape" class="shape shape-8" width="35">
          <img src="{% static 'webapp/images/ring.svg' %}" alt="ring shape" class="shape shape-9" width="80">

        </div>

        <div class="about-right">

          <h2 class="section-title">We are doing more than
            you expect</h2>

          <p class="section-text">
            As a businesswoman, I want to run my business through the eyes of the women who want to do something on their own but binds by household chores and looking for opportunities to be independent by themselves. 
            I want to provide them the opportunity to those women and men who have a desire to do something and introduce local and handmade products. 
            They can make handmade Pickles at their own home and send them back to us so we can purchase from them and sell to our customers to enhance their business. 
            Hence, Sweed’s aim is to make such women and men independent and promote local business to the mass or community. 
          </p>

          <p class="section-text">
            We, Sweed, are immensely gratifying to introduce our Food Delivery App called "Sweed" with multiple features. 
            Introducing Sweed is like introducing and promoting local products which deliver direct to customers’ doors. 
            You can order varieties of food and different types of homemade pickles, wild honey, and other local products through this Sweed App.
          </p>

<pre class="section-text" style="margin-bottom: 20px;">
Best Regards,
Yubina Shrestha [CEO]
Sweed Service Pvt. Ltd.
</pre>

          <img src="{% static 'webapp/images/signature.svg' %}" alt="signature" class="signature" width="150">

        </div>

      </section>





      <!--
        - #SERVICES SECTION
      -->

      <section class="services" id="services">

        <div class="service-card">

          <p class="card-number">01</p>

          <h3 class="card-heading">We are located in the city center</h3>

          <p class="card-text">
            Sweed Service is located in Maharajgunj, Kathmandu, Nepal. 
            It is the center place for people living within Kathmandu valley to order and grasp their favorite and delicious foods. 
          </p>

        </div>

        <div class="service-card">

          <p class="card-number">02</p>

          <h3 class="card-heading">Fresh ingredients from organic farms</h3>

          <p class="card-text">
            As you all know, our main motive is to enhance and empower local products and businesses. 
            We use organic products to serve our customers to keep them all healthy and happy. 
          </p>

        </div>

        <div class="service-card">

          <p class="card-number">03</p>

          <h3 class="card-heading">The highest standards of service</h3>

          <p class="card-text">
            At Sweed, our values are at the core of everything we do. 
            They guide how we work together and make decisions, whether it be recruitment or the evolution and development of our people, teams, and products. 
            We want our service to become fruitful to every customer.
          </p>

        </div>

        <div class="service-card">

          <p class="card-number">04</p>

          <h3 class="card-heading">Own fast delivery. 30 min Maximum</h3>

          <p class="card-text">
            We try to deliver our food as quickly as possible to the customers so customers can have fresh and warm food.
          </p>

        </div>

        <div class="service-card">

          <p class="card-number">05</p>

          <h3 class="card-heading">Professional, experienced chefs</h3>

          <p class="card-text">
            Our chefs are more experienced and professional to their work. They work and serve from their heart. And it shows in their food and taste. 
          </p>

        </div>

      </section>




      <!-- 
        - #APP SECTION 
      -->

      <section class="how-it-works">
        <h2 class="section-title">How it works</h2>
        <p class="section-text">
          We made Sweed’s App to make it easier for you to order your favorite products from local farms and businesses. 
        </p>

        <div class="details-area">
          <div class="details-tabs">
            <div class="details-card">
              <div class="details-list">
                <div class="numbers">01</div>
                <div class="details-info">
                  <h3 data-src="{% static 'webapp/images/works/signup.png' %}">Easy sign up</h3>
                  <p>
                    We made it easy for you to sign up and order your favorite products from local farms and businesses.
                  </p>
                </div>
              </div>
              <div class="details-list">
                <div class="numbers">02</div>
                <div class="details-info">
                  <h3 data-src="{% static 'webapp/images/works/favourite.png' %}">Food of your chooise</h3>
                  <p>
                    You can order your favorite products from local farms and businesses.
                  </p>
                </div>
              </div>
              <div class="details-list">
                <div class="numbers">03</div>
                <div class="details-info">
                  <h3 data-src="{% static 'webapp/images/works/cart.png' %}">Checkout cart</h3>
                  <p>
                    You can modify your cart as you wish & check out your cart and pay online.
                  </p>
                </div>
              </div>
              <div class="details-list">
                <div class="numbers">04</div>
                <div class="details-info">
                  <h3 data-src="{% static 'webapp/images/works/checkout.png' %}">Place your shipping</h3>
                  <p>
                    You can place your shipping address and payment method.
                  </p>
                </div>
              </div>
              <div class="details-list">
                <div class="numbers">05</div>
                <div class="details-info">
                  <h3 data-src="{% static 'webapp/images/works/orders.png' %}">Track your orders</h3>
                  <p>
                    You can track your orders and see your order status. You can also see your order history.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="details-demo">
            <img src="{% static 'webapp/images/works/home.png' %}" alt="app screen image" loading="lazy">
            <div class="more">
              <img src="" alt="app screen image" loading="lazy">
            </div>
          </div>
        </div>
      </section>



      <!--
        - #PRODUCT SECTION
      -->

      <section class="product" id="menu">

        <h2 class="section-title">Most popular dishes</h2>

        <p class="section-text">
          You can order and have your favorite and popular dishes through Sweed. And enjoy your food. 
        </p>

        <div class="products-grid">

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'webapp/images/foods/mustang-alu.JPG' %}" alt="product image" class="product-img" width="200" loading="lazy">

                <div class="card-badge green">
                  <ion-icon name="leaf"></ion-icon>
                  <p>Veg</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">MUSTANG ALU</h3>

                  <p class="product-price">
                    <span class="small">Rs.</span>250
                  </p>
                </div>

                <p class="product-text">
                  Organic homegrown Potato, mix with Nepali Spices from mustang, served with Nepali timur aachar.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'webapp/images/foods/crispy-chicken.JPG' %}" alt="product image" class="product-img" width="200" loading="lazy">

                <div class="card-badge red">
                  <p>Non-veg</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">CRISPY CHICKEN</h3>

                  <p class="product-price">
                    <span class="small">Rs.</span>350
                  </p>
                </div>

                <p class="product-text">
                  Boneless chicken breast, bread crumbs & mustard paste.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'webapp/images/foods/spicy-honey-wings.JPG' %}" alt="product image" class="product-img" width="200" loading="lazy">

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">SPICY HONEY WINGS</h3>

                  <p class="product-price">
                    <span class="small">Rs.</span>350
                  </p>
                </div>

                <p class="product-text">
                  Chicken wings, honey, hot garlic sauce served with vinegar.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'webapp/images/foods/pork-bbq.JPG' %}" alt="product image" class="product-img" width="200" loading="lazy">

                <div class="card-badge red">
                  <p>Non-veg</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">PORK BBQ</h3>

                  <p class="product-price">
                    <span class="small">Rs.</span>500
                  </p>
                </div>

                <p class="product-text">
                  Pork BBQ, served with sweet and spicy sauce.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'webapp/images/foods/buff-choila.JPG' %}" alt="product image" class="product-img" width="200" loading="lazy">

                <div class="card-badge red">
                  <ion-icon name="flame"></ion-icon>
                  <p>Hot</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">BUFF CHOILA</h3>

                  <p class="product-price">
                    <span class="small">Rs.</span>300
                  </p>
                </div>

                <p class="product-text">
                  Mix Nepali Spices, Fresh Lemon, Onion, Ginger & Chilly, sweet and spicy sauce.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'webapp/images/foods/burger.JPG' %}" alt="product image" class="product-img" width="200" loading="lazy">
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">BURGER</h3>

                  <p class="product-price">
                    <span class="small">Rs.</span>400
                  </p>
                </div>

                <p class="product-text">
                  Grilled chicken, patty, egg, cheese, cucumber, tomato & onion.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </div>

              </div>

            </div>

          </a>

        </div>

        <button class="btn btn-primary btn-icon">
          <img src="{% static 'webapp/images/menu.svg' %}" alt="menu icon">
          Full menu
        </button>

      </section>





      <!--
        - #TESTIMONIALS SECTION
      -->

      <section class="testimonials" id="testimonials">

        <h2 class="section-title">What our customers say?</h2>

        <p class="section-text">
          Customers opinion matters the most. We would like you to drop your honest review of our foods and services so we can serve you better and healthy food.
        </p>

        <div class="testimonials-grid">

          <div class="testimonials-card">

            <h4 class="card-title">Very tasty</h4>

            <div class="testimonials-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>

            <p class="testimonials-text">
              Food is awesome, more than that service is good and fast. They serve cakes and dougnut late night which is so good.
            </p>

            <div class="customer-info">
              <div class="customer-img-box">
                <img src="{% static 'webapp/images/testimonials1.jpg' %}" alt="customer image" class="customer-img" width="100" loading="lazy">
              </div>

              <h5 class="customer-name">Utsav Thapa</h5>
            </div>

          </div>

          <div class="testimonials-card">
          
            <h4 class="card-title">I have lunch here every day</h4>
          
            <div class="testimonials-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
          
            <p class="testimonials-text">
              They are new but I must appreciate for their service. I got my food on time late night. Thanks for saving my 😋 tommy.
            </p>
          
            <div class="customer-info">
              <div class="customer-img-box">
                <img src="{% static 'webapp/images/testimonials2.jpg' %}" alt="customer image" class="customer-img" width="100" loading="lazy">
              </div>
          
              <h5 class="customer-name">Saroj Khanal</h5>
            </div>
          
          </div>

        </div>

      </section>


      <!-- 
        - #SWEEDSERVICES SECTION 
      -->

      <section class="sweed-services">
        <h2 class="section-title">Sweed Services</h2>

        <p class="section-text">
          Sweed Services is based on e-commerce business where you can simply order your foods and products as well as you can hire cars and other vehicles. 
          You can also get vehicle parts to buy. Currently, we are working on food delivery services where you can get varieties of food items to order. 
          And Sweed Laundry, Sweed Music and Sweed Hire are our upcoming services to serve our customer.  
        </p>

        <h2 class="section-title" style="font-size: 21px;">Upcomming Services</h2>

        <div class="services-in">
          <ul>
            <li>
              <img src="{% static 'webapp/images/services/sweed-laundry.svg' %}" alt="sweed laundry">
              <img src="{% static 'webapp/images/services/sweed-laundry.svg' %}" alt="sweed laundry">
            </li>
            <li>
              <img src="{% static 'webapp/images/services/sweed-music.svg' %}" alt="sweed music">
              <img src="{% static 'webapp/images/services/sweed-music.svg' %}" alt="sweed music">
            </li>
            <li>
              <img src="{% static 'webapp/images/services/sweed-hire.svg' %}" alt="sweed hire">
              <img src="{% static 'webapp/images/services/sweed-hire.svg' %}" alt="sweed hire">
            </li>
          </ul>
        </div>
      </section>

    </main>





    <!--
      - #FOOTER
    -->

    <footer>

      <div class="footer-wrapper">

        <a href="/">
          <img src="{% static 'webapp/images/sweed-footer-logo.svg' %}" alt="logo" class="footer-brand" width="105">
        </a>

        <div class="social-link">

          <a href="https://www.tiktok.com/search?q=midcitycafe&t=1654419750527" target="_blank">
            <ion-icon name="logo-tiktok"></ion-icon>
          </a>

          <a href="https://www.instagram.com/sweedfoodofficial/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>

          <a href="https://www.facebook.com/sweedfoodofficial" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>

          <!-- <a href="https://www.tiktok.com/search?q=midcitycafe&t=1654419750527" target="_blank">
            <ion-icon name="logo-youtube"></ion-icon>
          </a> -->

        </div>

        <p class="copyright">&copy; Copyright 2022 SweedServices. All Rights Reserved.</p>

      </div>

      <div class="footer-wrapper design">
        <p>Design with ❤️ by <a href="https://kurmatech.com.np/" target="_blank">KurmaTech</a>.</p>
      </div>

    </footer>

  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $(".details-card .details-list .details-info h3").mouseover( function() { // Changes the .image-holder's img src to the src defined in .list a's data attribute.
      var value=$(this).attr('data-src');
      $(".details-demo .more img").attr("src", value);
      $(".details-demo .more img").css('left', "0%");
    })

    $(".details-card .details-list .details-info h3").mouseout( function() {
      $(".details-demo .more img").css('left', "100%");
    });
  </script>
  <!--
    - custom js link
  -->
  <script src="{% static 'webapp/js/foodhub.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
